@import "~bootstrap/scss/bootstrap.scss";

.button {
    background: grey;
    border: 2px;
    border-style: dashed;
    border-color: #333333;
    font-size: 5rem;
    color: whitesmoke;
}

.board {
    height: 100rem;
    width: 100rem;
    margin: 0 auto;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
