@import "~bootstrap/scss/bootstrap.scss";

.row {
    height: 5rem; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
     width: 5rem; 
     height: 5rem ; 
     background: grey;
     align-content: center;
}

